# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'vibe-backend'
primary_region = 'cdg'

[build]
  dockerfile = "Dockerfile"

[env]
  APP_ENV = "production"
  APP_DEBUG = "false"
  LOG_CHANNEL = "stderr"
  DB_CONNECTION = "pgsql"
  SESSION_DRIVER = "cookie"
  CACHE_STORE = "file"
  QUEUE_CONNECTION = "sync"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
